@charset "UTF-8";
/* CSS Document */


#container {
	min-width:300px;
	max-width:350px;
	min-height:100px;
    background-color:#C30;
	border:solid 4px black;
}

#console{
	min-width:400px;
	min-height:30px;
	display:inline-block;
	border:solid 2px black;
	padding:2px;
	box-sizing:content-box;
}


.bttn{
	width:100px;
	height:15px;
	border:solid 2px #ccc;
	display:inline-block;
	margin: 1px 0;
	text-align:center;
}


